
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bordered {
    border: 1px solid black;
}

.p-left-300 {
    padding-left: 300px;
}

.m-top-100 {
    margin-top: 100px;
}

.img-height {
	height: 150px;
}

.d-flex {
    display: flex;
}

.justify-content-space-around {
    justify-content: space-around;
}

.topic {
    min-height: 400px;
}

.resource-option {
    color: #828282;
    padding: 0 5px;
}